body {
  background: rgb(238, 238, 238);
}

.list div.doop {
  max-width: 400px;
  width: 100%;
  padding: 10px;
  margin-left: -10px;
  border-radius: 3px;
  transition: all 300ms;
  /* background: rgba(236, 236, 236, 0); */
}

.list div.doop:hover {
  cursor: pointer;
  /* box-shadow: 1px 2px 16px rgb(0 0 0 / 25%);
  background: rgb(255, 255, 255);
  transform: translate(0px, -4px); */
}

.list div.doop:hover .img > div {
  opacity: .75;
}

.list div.doop .img > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #161617;
  opacity: 0;
}

.list div.doop:hover h3 {
  color: #ff8585;
}

.doop h3 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 5px;
}

.doop p {
  margin: 0;
}

.img {
  width: 100%;
  height: 200px;
  border-radius: 3px;
  margin-bottom: 15px;
  position: relative;
}

.list {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.list > * {
  margin: 0;
  margin-bottom: 50px;
}

.list > *:last-child {
  margin-bottom: 0;
}

.list > h2 {
  color: #e60067;
  font-size: 20px;
  margin-bottom: 25px;
}

.list > h1 {
  color: #161617;
  font-size: 36px;
  margin-bottom: 25px;
}

.container {
  width: 100%;
  max-width: 750px;
  margin: auto;
}
